.home-container {
    background-image: url("../images/deadpool.jpg");
    background-size: cover;
    min-height: 95vh;
  }

  .welcome-heading {
    font-size: 3rem; 
    font-weight: bold;
    color: #CE3B3B;
  }
  .welcome-heading span {
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .welcome-content {
    color: white;
    font-size: 2rem;
  }
  
  .welcome-content span {
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: inline-block;
    animation: changeText 4.5s linear infinite;
  }
  

  button.explore-movies {
    background-image: url("../images/red.jpg");
    transition: transform 0.3s ease-in-out;
    font-size: 1.5rem;
    padding: 15px 20px;
    border-radius: 15px;
  }
  
  .explore-movies:hover {
    transform: scale(1.1);

  }
  
  .explore-movies:active {
    transform: scale(0.95);
    box-shadow: 0 0 20px #CE3B3B; /* Add a subtle box shadow */
  }

  button.explore-tvshows {
    background-image: url("../images/blue.jpg");
    transition: transform 0.3s ease-in-out;
    font-size: 1.5rem;
    padding: 15px 20px;
    border-radius: 15px;
  }
  button.explore-tvshows:hover {
    transform: scale(1.1);
  }
  
  button.explore-tvshows:active {
    transform: scale(0.95);
    box-shadow: 0 0 20px #1414e8; /* Add a subtle box shadow */
  }
  .movies-container {
    background-image: url("../images/moviebackground.jpg");
    /* background-color: #0b0a2d; */
    background-size: cover;
    min-height: 95vh;
   
  }

  .liked-container {
    background-image: url("../images/likedbackground.jpg");
    background-size: cover;
    min-height: 95vh;
   
  }
 
  .tvshows-container {
    background-image: url("../images/tvshowbackground.jpg");
    background-size: cover;
    min-height: 95vh;
  }

  button.trailer-button{
    background-color: #CE3B3B;
    color: white;
    font-weight: bold;
    padding: 1%;
  }
  button.overview-button{
    
    font-weight: bold;
    padding: 1%;
  }

.pagination-custom .page-link {
  background-color:#CE3B3B;
  color: white;
}

.pagination-custom .page-item.active .page-link {
 background-color: darkred;
 border-color: darkred;
}

.card-hover-animation {
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.card-hover-animation:hover {
  transform: scale(1.04) ;
}

.heart-link {
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  }

.heart-link:hover {
  transform: scale(1.2) ;
}

.filter-container {
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-flex;
  border-radius: 20px;

}

.filter-container button {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  box-shadow: inset 0 0 0 1.1px rgba(255, 255, 255, 0.3);
  text-align: center;
  transition-duration: 0.3s;
  font-weight: bold;
}
