.home-container {
    background-image: url("../images/deadpool.jpg");
    background-size: cover;
    height: 100vh; 
  }

  .welcome-heading {
    color: white;
    font-size: 3rem; 
    font-weight: bold;
    padding-left:3%;
    padding-top: 2%;
  }
  .welcome-heading span {
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .welcome-content {
    color: white;
    font-size: 2rem; 
    font-weight: 100;
    padding-left:3%;
  }
  .welcome-content span {
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .explore-movies {
    margin-top: 6%;
    margin-left: 3%;
    background-image: url("../images/red.jpg");

  }

  .explore-tvshows {
    margin-top: 6%;
    margin-left: 4%;
    background-image: url("../images/blue.jpg");
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .movies-container {
    background-image: url("../images/moviebackground.jpg");
    /* background-color: #0b0a2d; */
    background-size: cover;
    min-height: 95vh;
   
  }
 
  .tvshows-container {
    background-image: url("../images/tvshowbackground.jpg");
    background-size: cover;
    min-height: 95vh;
  }

  button.trailer-button{
    background-color: #CE3B3B;
    color: white;
    font-weight: bold;
    padding: 1%;
  }
  button.overview-button{
    
    font-weight: bold;
    padding: 1%;
  }

.pagination-custom .page-link {
  background-color:#CE3B3B;
  color: white;
}

.pagination-custom .page-item.active .page-link {
 background-color: darkred;
 border-color: darkred;
}

.card-hover-animation {
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.card-hover-animation:hover {
  transform: scale(1.1) ;
}

.heart-link {
  color: gray; 
}

.heart-link:hover {
  color: #CE3B3B; 
  transform: scale(1.2) ;
}

button.heart-button{
  color: grey;
}
button.heart-button:hover

{
  color: #CE3B3B; 
  transform: scale(1.1) ;
}
